.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #00b436;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: rgb(113, 255, 213);
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #050505;
  background-color: #33a860;
  text-align: center;
  padding: 109px 109px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #38da7b;
}

.nav-right {
  float: right;
}

